.root {
  -fx-font-family: Tahoma;
}

#menubar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.menu {
    -fx-color: #000000;
    -fx-font-size: 14px;
}

.menu:hover {
    -fx-background-color: transparent, rgba(0,0,0,.1), rgba(0,0,0,.1), transparent;
}

.menuItem {
    -fx-background-color: derive(#1d1d1d,20%);
    -fx-padding: 10px 5px 10px 5px;
    -fx-font-size: 14px;
}

.menuItem:focused {
   -fx-background-color: transparent, rgba(0,0,0,.1), rgba(0,0,0,.1), transparent;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-color: #000000;
    -fx-background-color: derive(#1d1d1d,20%);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

#toolbar {
    -fx-background-color:derive(#1d1d1d,20%);
    -fx-padding: 5px 10px 5px 10px;
}

.toolBarButtons {
    -fx-background-color: transparent, transparent, transparent, transparent;
    -fx-padding: 5px 10px 5px 10px;
}

.toolBarButtons:hover{
    -fx-background-color: transparent, rgba(0,0,0,.1), rgba(0,0,0,.1), transparent;
    -fx-padding: 5px 10px 5px 10px;
}

.toolBarButtons:armed {
    -fx-background-color: transparent, rgba(0,0,0,.1), rgba(0,0,0,.1), rgba(0,0,0,.2);
    -fx-padding: 5px 10px 5px 10px;
}

#openFileButton {
    -fx-graphic: url("../images/toolbar/OpenFileIcon.png");
}

#pauseButton {
    -fx-graphic: url("../images/toolbar/PauseIcon.png");
}

#playButton {
    -fx-graphic: url("../images/toolbar/PlayIcon.png");
}

#previousButton {
    -fx-graphic: url("../images/toolbar/PreviousIcon.png");
}

#nextButton {
    -fx-graphic: url("../images/toolbar/NextIcon.png");
}

#tabbar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: derive(#1d1d1d,20%);
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
    -fx-padding: 5px 10px 10px 10px;
}

.tab {
    -fx-background-color: derive(#1d1d1d,20%);
    -fx-padding: 5px 10px 5px 10px;
    -fx-color: #000000;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
}

.tab:hover {
    -fx-background-color: transparent, rgba(0,0,0,.1), rgba(0,0,0,.1), transparent;
    -fx-padding: 5px 10px 5px 10px;
}

.tab:selected {
    -fx-background-color: #2980b9;
    -fx-padding: 5px 10px 5px 10px;
}

.split-pane {
    -fx-background-color: #1d1d1d/* #34495E*/;
    -fx-control-inner-background: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-style: solid;
    -fx-border-width: 2px 0px 0px 0px;
    -fx-border-color: derive(#1d1d1d,50%);
}

.split-pane-divider {
    -fx-background-color: derive(#1d1d1d,50%);
    -fx-padding: 0 0.15em 0 0.15em;
}

#SqlEditorPage {
}

.text-area {
    -fx-background-color: derive(#1d1d1d,30%);
    -fx-color: derive(#1d1d1d,50%);
    -fx-font-size:12px;
    -fx-border-style: solid;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: derive(#1d1d1d,20%);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.headerBackgroundInformationPane {
    -fx-background-color: derive(#1d1d1d,30%);
    -fx-border-style: solid;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: derive(#1d1d1d,20%);
    -fx-padding: 5px 5px 5px 5px;
    -fx-text-fill: white;
}

.headerTitle {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px 5px 10px;
}

.text {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px 5px 10px;
}